
</main>

<nav id="nav_config">
    <div class="innertube">
        <div>
            <button type="button" onclick="fullScreen()">Full Screen</button>
            &nbsp;
            <button type="button" onclick="location.href='/';">Home</button>
            &nbsp;
            <button type="button" onclick="location.href='/events';">Events</button>
            &nbsp;
            <button type="button" onclick="location.href='/config';">Config</button>
            <br>
        </div>
        <!--
        <div>---------status:<br>---------</div>
        <div>
            <button type="button" onclick="getServiceStatus('server');">Server</button>
            <button type="button" onclick="getServiceStatus('hub');">Hub</button>
            <button type="button" onclick="getServiceStatus('viewer');">Viewer</button>
        </div>
        -->
    </div>
</nav>

</body>