<body>
    
    <script src='/js?name=src/js/config_c.js'></script>
    <script src='/js?name=src/js/jquery.min.js'></script>

    <header id="header">
        <div class="innertube">
            <p>
                Home Security Config
                <button type="button" id="restart_daemon_all" onclick="restartDaemons('')">Restart All</button>
                <button type="button" id="restart_daemon_server" onclick="restartDaemons('server')">Restart Server</button>
                <button type="button" id="restart_daemon_hub" onclick="restartDaemons('hub')">Restart Hub</button>
                <button type="button" id="restart_daemon_viewer" onclick="restartDaemons('viewer')">Restart Viewer</button>
            </p>
        </div>
        <div class="innertube">

        </div>

    </header>

    <main id="main_config" width="100%" height="100%">

