<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <script src='/js?name=src/js/jquery.min.js'></script>

    <title>Home security</title>

    <!-- 
    <script type="text/javascript" src="//rawgit.com/strukturag/libde265.js/master/lib/libde265.min.js"></script>
    <script type="text/javascript" src="/js?name=libde265.min.js"></script>
    -->
    <script type="text/javascript" src="/js?name=src/js/libde265.js"></script>
    <script src='/js?name=src/js/browser.js'></script>
    <script src='/js?name=src/js/index.js'></script>

    <script type="text/javascript">

        $(document).ready(function () {
            let today = new Date();
            let str = today.getFullYear().toString();
            let month = today.getMonth() + 1;
            let day = today.getDate();
            str += "-" + (month > 9 ? month.toString() : "0" + month.toString()) + "-" + (day > 9 ? day.toString() : "0" + day.toString());
            $("#video_date").val(str);

            let ew = $("#main")[0].clientWidth;
            let eh = $("#main")[0].clientHeight;

            $("#video_canvas").width(ew - 12);
            $("#video_canvas").height(eh - 32);

            createDeviceOptions();

        });

        function createDeviceOptions() {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {

                const cameraList = JSON.parse(this.responseText);

                let contents = "";
                for (let i = 0; i < cameraList.cameras.length; i++) {
                    if (i == 0)
                        contents += `<option value="${cameraList.cameras[i].name}" selected>${cameraList.cameras[i].name}</option>`;
                    else
                        contents += `<option value="${cameraList.cameras[i].name}">${cameraList.cameras[i].name}</option>`;
                }

                $("#device").html(contents);
                $("#stream_port").val(cameraList.port);
                $("#daemon_status_ws_port").val(cameraList.ws_daemon_status_port);

            }
            xhttp.open("GET", "/getCameraList?");
            xhttp.send();

        }

        let service_status_ws = null;

        function getServiceStatus(service) {

            $("#div_video_canavas").html("");
            $("#div_main_log").show();

            let port = $("#daemon_status_ws_port").val();
            const service_status_Url = "ws://" + window.location.hostname + ":" + port;
            service_status_ws = new WebSocket(service_status_Url);

            service_status_ws.onopen = () => {
                service_status_ws.send(service);
            }

            service_status_ws.onerror = (error) => {
                service_status_ws.close();
                logmsg("Service status WebSocket error");
            }

            service_status_ws.onclose = (error) => {
                service_status_ws = null;
            }

            service_status_ws.onmessage = (e) => {
                let res = e.data.replace(/\n/g, "<br>");
                res = res.replace(/ /g, "&nbsp;");
                $("#main_log").html(res);
                service_status_ws.close();
            }

        }

        function updateVideoStatus(filename) {
            var video_time = document.getElementById("video_time");
            var video_duration = document.getElementById("video_duration");
            let dstr = filename.substr(17, filename.length - 17 - 4);
            let duration = Math.round(parseInt(dstr) / 1000);
            let hours = Math.floor(duration / 3600).toString();
            let minutes = Math.floor((duration % 3600) / 60).toString();
            let seconds = (duration % 60).toString();
            video_duration.innerHTML = hours + ":" + (minutes.length == 1 ? "0" + minutes : minutes) + ":" + (seconds.length == 1 ? "0" + seconds : seconds);
            video_time.innerHTML = filename.substr(8, 2) + ":" + filename.substr(10, 2) + ":" + filename.substr(12, 2);
        }

        const html5_video_type = "mp4"; //webm

        function convertHtml5(device, datestr, filename, video_id) {

            $("#div_main_log").hide();

            $(".video_rows").css("background-color", "bisque");
            $("#video_row_" + video_id).css("background-color", "#FFFF00");

            updateVideoStatus(filename);

            var div_video = document.getElementById("div_video_canavas");
            div_video.innerHTML = '';
            
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {

                if (this.responseText === "ok") {

                    $("#video_row_mp4_" + video_id).text("MP4");

                    div_video.innerHTML = `<video id='videoWrapper' autoplay controls style='display: block; width: 90%; height: 90%;'>
                            <source src="/html5?device=${device}&date=${datestr}&&file=${filename}.${html5_video_type}" type="video/${html5_video_type}">
                            Your browser does not support the video tag.
                        </video>`;
                
                    var video = document.getElementById("videoWrapper");
                    // video.addEventListener('timeupdate', (event) => {
                    //     console.log(event);
                    // });
                }
                else { // error
                    console.log(this.responseText);
                }
            }
            xhttp.open("GET", "/videoconvert?device=" + device + "&date=" + datestr + "&file=" + filename + "&type=" + html5_video_type);
            xhttp.send();

            if($("#video_row_mp4_" + video_id).text() === '>>>')
                alert("\nThe video is converting to MP4, \n\nPlease refresh webpage after several minutes. \n\n Normally after finished, it will play automatically."); 
        }

        var player = null;

        function playVideo(device, datestr, filename, video_id) {

            $("#div_main_log").hide();

            $(".video_rows").css("background-color", "bisque");
            $("#video_row_" + video_id).css("background-color", "#FFFF00");

            if ($("#ffmpeg_player")[0].checked)
                playVideoFFMpeg(device, datestr, filename);
            else
                playVideoLibde265(device, datestr, filename);
        }

        function pauseVideo() {
            if ($("#ffmpeg_player")[0].checked) {
                if(player) {
                    player.paused ? player.play() : player.pause();
                }
            }
            else{
                
            }
        }

        function playVideoFFMpeg(device, datestr, filename) {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {

                const result = JSON.parse(this.responseText);

                if (result.result == "success") {

                    var video;// = document.getElementById("video_canvas_ffmpeg");

                    var div_video = document.getElementById("div_video_canavas");
                    div_video.innerHTML = "";
                    div_video.innerHTML = `<canvas id="video_canvas_ffmpeg" style='display: block; width: 90%; height: 90%;' onclick='pauseVideo();'></canvas>`;
                    video = document.getElementById("video_canvas_ffmpeg");

                    var status = document.getElementById("video_status");
                    var audio_status = document.getElementById("audio_status");

                    audio_status.innerHTML = 'None';

                    if ($("#main").width() < video.width)
                        video.width = $("#main").width();
                    if ($("#main").height() < video.height)
                        video.height = $("#main").height();

                    //video.width = $("#main").width();
                    //video.height = $("#main").height();

                    updateVideoStatus(filename);

                    let stream_port = $("#stream_port").val();

                    loadPlayer({
                        url: 'ws://' + window.location.hostname + ':' + stream_port + '/api/stream/' + filename,
                        canvas: video,
                        autoplay: false,
                        audio: true,
                        video: true,
                        videoBufferSize: 30 * 1024 * 1024,
                        audioBufferSize: 10 * 1024 * 1024,
                        onPlay(jsmplayer){
                            console.log('playing');
                        },
                        onPause(jsmplayer){
                            status.innerHTML = "paused at " + Number(player?player.video.decodedTime * 2 : 0).toFixed(0) + " seconds";
                            console.log('paused');
                        },
                        onEnded(jsmplayer){
                            status.innerHTML = "Ended: " + Number(player?player.video.decodedTime * 2 : 0).toFixed(0) + " seconds";
                        },
                        onVideoDecode(decoder, time){
                            const dur = Number(player?player.video.decodedTime * 2 : 0).toFixed(0);
                            let left = dur % 3600;
                            status.innerHTML = Number(dur / 3600).toFixed(0) + ':' + Math.floor(left / 60) + ':' + (left % 60);

                            if(player && player.paused) {
                                status.innerHTML += "----- Cached: " + Math.floor(player.source.destination.currentTime);
                            }
                        },
                        onAudioDecode(decoder, time){
                            console.log('Audio is available!');
                            audio_status.innerHTML = 'Available';
                        },
                        onStalled(player) {
                            console.log("no enough data to play");
                        }
                        // onSourceEstablished(source) {
                        //     console.log("source started");
                        // },
                        // onSourceCompleted(source) {
                        //     console.log("source ended");
                        // }
                    }).then((p) => {
                        player = p;
                        //player.volume = 1;
                        player.device = device;
                        player.datestr = datestr;
                        player.filename = filename;
                    });


                }
                else {
                    VIDEO_URL = "";
                }
            }
            xhttp.open("GET", "/play?device=" + device + "&date=" + datestr + "&file=" + filename + "&player=ffmpeg");
            xhttp.send();
        }

        function playVideoLibde265(device, datestr, filename) {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {

                const result = JSON.parse(this.responseText);

                if (result.result == "success") {

                    VIDEO_URL = result.r_url;

                    var video = document.getElementById("video_canvas_libde265");
                    if (video == null) {

                        var div_video = document.getElementById("div_video_canavas");
                        div_video.innerHTML = `<canvas id="video_canvas_libde265" width="1080" height="600"></canvas>`;
                        video = document.getElementById("video_canvas_libde265");

                    }

                    var status = document.getElementById("video_status");

                    if ($("#main").width() < video.width)
                        video.width = $("#main").width();
                    if ($("#main").height() < video.height)
                        video.height = $("#main").height();

                    //video.width = $("#main").width();
                    //video.height = $("#main").height();

                    updateVideoStatus(filename);

                    if (player) {
                        player.stop();
                        video_canvas_libde265.init = false;
                    }


                    player = new libde265.RawPlayer(video);
                    player.set_status_callback(function (msg, fps) {
                        player.disable_filters(true);
                        switch (msg) {
                            case "loading":
                                status.innerHTML = "Loading movie...";
                                break;
                            case "initializing":
                                status.innerHTML = "Initializing...";
                                break;
                            case "playing":
                                status.innerHTML = "Playing...";
                                break;
                            case "stopped":
                                status.innerHTML = "stopped";
                                break;
                            case "fps":
                                status.innerHTML = Number(fps).toFixed(2) + " fps";
                                break;
                            default:
                                status.innerHTML = msg;
                        }
                    });

                    player.playback(VIDEO_URL);

                }
                else {
                    VIDEO_URL = "";
                }
            }
            xhttp.open("GET", "/play?device=" + device + "&date=" + datestr + "&file=" + filename + "&player=libde265");
            xhttp.send();
        }

        function stopVideo() {
            var video_canvas = document.getElementById("video_canvas");
            if ($("#ffmpeg_player")[0].checked){
                // const xhttp = new XMLHttpRequest();
                // xhttp.open("GET", "/play?kill=true&player=ffmpeg");
                // xhttp.send();
                if(player){
                    if(player.isPlaying){
                        player.stop();
                    }
                    else {
                        playVideo(player.device, player.datestr, player.filename);
                    }
                }
            }
            else {
                if (player) {
                    player.stop();
                    video_canvas.init = false;
                }
            }
        }

        function zoomIn() {
            var video_canvas = document.getElementById("video_canvas");
            video_canvas.width *= 1.5;
            video_canvas.height *= 1.5;
            video_canvas.init = false;
        }

        function zoomOut() {
            var video_canvas = document.getElementById("video_canvas");
            video_canvas.width /= 1.5;
            video_canvas.height /= 1.5;
            video_canvas.init = false;
        }

        function restartDaemons(daemon) {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                //alert("The request to restart daemons was sent out!");
                alert(this.responseText);
            }
            xhttp.open("GET", "/restart_daemons?name=" + daemon);
            xhttp.send();
        }

        function getVideoList() {
            //$("#device")
            let device = $("#device").val();
            let datestr = $("#video_date").val();
            datestr = datestr.substr(0, 4) + datestr.substr(5, 2) + datestr.substr(8, 2);

            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                const videoList = JSON.parse(this.responseText);
                createVideoRows(device, datestr, videoList.result);
            }
            xhttp.open("GET", "/getVideoList?device=" + device + "&date=" + datestr);
            xhttp.send();
        }

        function createVideoRows(device, datestr, videoList) {

            let contents = "<br>";
            if (videoList.length > 0) {
                contents += "<table style='text-align: center; width: 180px'><colgroup><col span='3' style='background-color:bisque'><col style='background-color:bisque'></colgroup>";
                contents += "<tr><th>Time</th><th>motion</th><th>duration</th><th>...</th></tr>"
                for (let i = 0; i < videoList.length; i++) {
                    contents += "<tr class='video_rows' id='video_row_" + i + "'>";
                    contents += "<td style='width:40%'><a href='#' onclick='return playVideo(";
                    contents += "\"" + device + "\",\"" + datestr + "\",\"" + videoList[i].filename + "\"," + i + ")'>";
                    contents += videoList[i].timestr + "</a>";
                    contents += "</td><td style='width:30%'>";
                    if (videoList[i].person)
                        contents += "person";
                    else
                        contents += "-";
                    contents += "</td><td style='width:40%'>";
                    if (videoList[i].duration == undefined || videoList[i].duration == "")
                        contents += "-";
                    else {
                        let duration = Math.round(parseInt(videoList[i].duration) / 1000);
                        let hours = Math.floor(duration / 3600).toString();
                        let minutes = Math.floor((duration % 3600) / 60).toString();
                        let seconds = (duration % 60).toString();
                        contents += hours + ":" + (minutes.length == 1 ? "0" + minutes : minutes) + ":" + (seconds.length == 1 ? "0" + seconds : seconds);
                    }
                    contents += `</td><td><a id='video_row_mp4_${i}' href='#' onclick='return convertHtml5(`;
                    contents += "\"" + device + "\",\"" + datestr + "\",\"" + videoList[i].filename + "\"," + i + ")'>";
                    if(videoList[i].hasMp4)
                        contents += "MP4";
                    else
                        contents += ">>>";
                    contents += "</a></td></tr>";
                }
            }
            else
                contents += "No video found!";

            $("#video_list").html(contents);
        }

        function fullScreen() {

            var elem = document.documentElement;
            if (window.innerWidth == screen.width && window.innerHeight == screen.height) { // in full screen
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                }
            }
            else {
                if (elem.requestFullscreen) {
                    elem.requestFullscreen();
                }
            }
        }

        // download the video
        const download = (e) => {
            e.preventDefault()
            let a = document.createElement('a')
            a.href = video.src 
            a.target = "_blank"
            a.download = ""
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
        }

    </script>

</head>