<body>

    <header id="header">
        <div class="innertube">
            <p>
                Home Security Video
                <!--
                <button type="button" id="reboot_pi" onclick="restartDaemons('reboot')">Reboot</button>
                -->
                <button type="button" id="stop_daemon_server" onclick="restartDaemons('StopServer')">Stop Server</button>
                <button type="button" id="stop_daemon_hub" onclick="restartDaemons('StopHub')">Stop Hub</button>
                <button type="button" id="restart_daemon_server" onclick="restartDaemons('server')">Restart Server</button>
                <button type="button" id="restart_daemon_hub" onclick="restartDaemons('hub')">Restart Hub</button>
                <button type="button" id="restart_daemon_viewer" onclick="restartDaemons('viewer')">Restart Viewer</button>
                <button type="button" id="restart_daemon_viewer" onclick="restartDaemons('monitor')">Restart Monitor</button>
                &nbsp;&nbsp;Player: 
                <input type="radio" id="ffmpeg_player" name="playertype" value="ffmpeg" checked>
                <label for="ffmpeg_player">ffmpeg</label>
                <input type="radio" id="libde265_player" name="playertype" value="libde265">
                <label for="clibde265_playerss">libde265</label>

                <input type="hidden" id="stream_port">
                <input type="hidden" id="daemon_status_ws_port">
            </p>
        </div>
        <div class="innertube">

        </div>

    </header>

    <main id="main" width="100%" height="100%">

        <button type="button" id="pause_play" onclick="pauseVideo()">Pause/Resume</button>
        <button type="button" id="stop_play" onclick="stopVideo()">Stop/Play</button>
        <button type="button" id="zoom_in" onclick="zoomIn()">Zoom in</button>
        <button type="button" id="zoom_out" onclick="zoomOut()">Zoom out</button>
        &nbsp;&nbsp;
        <span>Record Time:</span> <span id="video_time" style="color:blue">None</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>Duration:</span> <span id="video_duration" style="color:blue">None</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <span>Status:</span>&nbsp;<span id="video_status" style="text-align: right; color:blue">None</span>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>Audio:</span>&nbsp;<span id="audio_status" style="text-align: right; color:blue">None</span>

        <div id="div_video_canavas" width="100%" height="100%">
            <!--
            <canvas id="video_canvas_ffmpeg" width="1080" height="600"></canvas>
            <canvas id="video_canvas_libde265" width="1080" height="600"></canvas>
            -->
        </div>

        <br>
        <div id='div_main_log' style='padding-left:20px;'>
            <div id="main_log" style='border: 1px solid rgb(165, 143, 143); width:1200px; height:600px; color:white;'></div>
        </div>
    </main>

    <nav id="nav">
        <div class="innertube">
            <div style="background-color:#BCCE98;">
                <button type="button" onclick="location.href='/';">Home</button>&nbsp;&nbsp;
                <button type="button" onclick="location.href='/events';">Events</button>&nbsp;&nbsp;
                <button type="button" onclick="location.href='/config';">Config</button>
                <br>status:&nbsp;&nbsp;&nbsp;
                <!--<button type="button" onclick="getServiceStatus('disk')">Disk Usage</button>-->
                <button type="button" onclick="getServiceStatus('viewer');">Viewer</button>
                <br>
                <button type="button" onclick="getServiceStatus('server');">Server</button>
                &nbsp;&nbsp;
                <button type="button" onclick="getServiceStatus('hub');">Hub</button>
                &nbsp;&nbsp;
                <button type="button" onclick="getServiceStatus('monitor');">Monitor</button>
                <!--
                &nbsp;&nbsp;
                <button type="button" onclick="getServiceStatus('show_log');">ShowLog</button>
                &nbsp;&nbsp;
                <button type="button" onclick="getServiceStatus('clear_log');">ClearLog</button>
                -->
            </div>
            <h1>Camera:</h1>
            <select id="device" name="device">
                <option value="FrontDoor" selected>FrontDoor</option>
                <option value="Driveway">Driveway</option>
            </select>
            <button type="button" onclick="getVideoList()">Get Videos</button>
            <p>
                <input type="date" id="video_date" name="video_date">
            </p>
            <div id="video_list"></div>
        </div>
    </nav>

    <!--
    <footer id="footer">
        <div class="innertube">
            <p>Sweet Home 2021</p>
        </div>
    </footer>
    -->

</body>