</div>
</main>

<nav id="nav">
    <div class="innertube">
        <p>
            <button type="button" class="menu-button" id="fullScreen" onclick="fullScreen()">Full Screen</button>
            <p>
                <button type="button" class="menu-button" id="startMonitor" onclick="startMonitor()">Start</button>
            </p>
            <p>----------</p>
            <button type="button" class="menu-button" onclick="location.href='/';">Home</button>
            <p>
                <button type="button" class="menu-button" id="events" onclick="location.href='/events';">Events</button>
            </p>
            <p>
                <button type="button" class="menu-button" onclick="location.href='/config';">Config</button>
            </p>
        </p>
        <!--
        <p>-------------</p>
        <p>
            <button type="button" class="menu-button" onclick="restartDaemons('')">Restart All</button>
            <button type="button" class="menu-button" onclick="restartDaemons('server')">Restart Server</button>
            <button type="button" class="menu-button" onclick="restartDaemons('hub')">Restart Hub</button>
            <button type="button" class="menu-button" onclick="restartDaemons('viewer')">Restart Viewer</button>
        </p>
        <p>-------------</p>
        <p>
        </p>
        -->
    </div>
    <div id="video_list"></div>

    </div>

</nav>

<footer id="footer">
    <div class="innertube">
        <p>Sweet Home 2021</p>
    </div>
</footer>

</body>

</html>