body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    max-height: 100%;
    font-family: Sans-serif;
    line-height: 1.5em;
}

#main {
    position: fixed;
    top: 50px;
    /* Set this to the height of the header */
    bottom: 0px;
    /* Set this to the height of the footer */
    left: 270px;
    right: 0;
    overflow: auto;
    background: grey;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    overflow: hidden;
    /* Disables scrollbars on the header frame. To enable scrollbars, change "hidden" to "scroll" */
    background: #BCCE98;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    overflow: hidden;
    /* Disables scrollbars on the footer frame. To enable scrollbars, change "hidden" to "scroll" */
    background: #BCCE98;
}

#nav {
    position: absolute;
    top: 50px;
    /* Set this to the height of the header */
    bottom: 0px;
    /* Set this to the height of the footer */
    left: 0;
    width: 270px;
    overflow: auto;
    /* Scrollbars will appear on this frame only when there's enough content to require scrolling. To disable scrollbars, change to "hidden", or use "scroll" to enable permanent scrollbars */
    background: #DAE9BC;
}

#main_config {
    position: fixed;
    top: 50px;
    /* Set this to the height of the header */
    bottom: 0px;
    /* Set this to the height of the footer */
    left: 80px;
    right: 0;
    overflow: auto;
    background: grey;
}

#nav_config {
    position: absolute;
    top: 50px;
    /* Set this to the height of the header */
    bottom: 0px;
    /* Set this to the height of the footer */
    left: 0;
    width: 80px;
    overflow: auto;
    /* Scrollbars will appear on this frame only when there's enough content to require scrolling. To disable scrollbars, change to "hidden", or use "scroll" to enable permanent scrollbars */
    background: #DAE9BC;  
}

.innertube {
    margin: 15px;
    /* Provides padding for the content */
}

p {
    color: #555;
}

/*nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    color: darkgreen;
    text-decoration: none;
}*/

/*IE6 fix*/
* html body {
    padding: 50px 0 50px 230px;
    /* Set the first value to the height of the header, the third value to the height of the footer, and last value to the width of the nav */
}

* html main {
    height: 100%;
    width: 100%;
}

.line {
    float: left;
    width: 100%;
    border-top: .25em solid #333;
}

.wrapper {
    margin: auto;
    width: 60em;
    /*960px*/
}

.button {
    display: block;
    padding: .75em 1.25em;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    background: red;
    color: #fff;
    border: 0;
    cursor: pointer;

}
