body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    max-height: 100%;
    font-family: Sans-serif;
    line-height: 1.5em;
}

main {
    position: fixed;
    top: 0px;
    /* Set this to the height of the header */
    bottom: 0px;
    /* Set this to the height of the footer */
    left: 65px;
    right: 0;
    overflow: hidden;
    background: rgb(29, 51, 51);
}


#nav {
    position: absolute;
    top: 0px;
    /* Set this to the height of the header */
    bottom: 0px;
    /* Set this to the height of the footer */
    left: 0;
    width: 65px;
    overflow: auto;
    /* Scrollbars will appear on this frame only when there's enough content to require scrolling. To disable scrollbars, change to "hidden", or use "scroll" to enable permanent scrollbars */
    background: rgb(37, 63, 63);
}

.wrap{
    width:100%;
    height:100%;
    border:1px solid darkslategray;
}

.innertube {
    margin: 5px;
    /* Provides padding for the content */
}

p {
    color: rgb(224, 210, 210);
}

.menu-button {

    background: rgb(119, 96, 110);
    color: rgb(224, 210, 210);
    border: 1;
    cursor: pointer;
    height: 40px;
    width: 55px;
}

.googleCalendar{
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
}
  
.googleCalendar iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

